storage "file" {
  path = "/opt/vault/data"
}

listener "tcp" {
  address     = "0.0.0.0:8200"
  tls_disable = 1
}

seal "azurekeyvault" {
  tenant_id  = "{{ azure_tenant_id }}"
  vault_name = "{{ azure_kv_name }}"
  key_name   = "{{ azure_kv_key_name }}"
}

ui = true
disable_mlock = true
